/* Container Trick Keep Things on page (no extending on left or)
 -RT */
html {
    scroll-behavior: smooth;
}

#content {
    margin: auto;
    margin-top: 120px;
    width: 95%;
    max-width: 1000px;
    padding: 10px;

}

/* Body ================================================================================ */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 2em;
    padding: 0em;
    background-color: white;
    color: black;
    z-index: 1;
}

/* ===================================================================================== */


/* Headers ============================================================================= */

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 1em;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
}

/* ===================================================================================== */


/* Navigation Bar ====================================================================== */

#logo {
    position: relative;
    top: 5px;
    margin-left: 1em;
}

#nav_bar {
    background-color: #023436;
    color: white;
    overflow: hidden;
    position: fixed;
    top: 2em;
    z-index: 2;
    width: 100%;
}

nav {
    display: flex;
    margin: -2em;
    margin-bottom: 4em;
}

nav ul {
    display: flex;
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    text-align: center;
    justify-content: center;
    align-content: center;
}

#home,
#references,
nav ul li {
    /* background-color: aliceblue; */
    text-decoration: none;
    font-size: 22px;
    /* margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 2em; */

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}

#home a,
#getting_started a,
#tutorials a,
#references a,
#options a {
    text-decoration: none;
    color: white;
}

/* .tag {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
} */

.tag {
    float: left;
}

#nav_bar,
.tag {
    overflow: hidden;
}

.tag .tag_option {
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
}

/* .options li a {
    display: none;
} */

#home,
#getting_started,
#tutorials,
#references,
#quizzes {
    text-align: center;
    width: 7em;
    /* width: fit-content; */
    border-radius: 10px;
    /* margin-left: 0.5em;
    margin-right: 0.5em; */
}

.options {
    display: none;
    /* background-color: #70abaf; */
    border-radius: 10px;
    /* overflow: hidden; */
}

.options li a {
    display: block;
    text-decoration: none;
    color: #565b39;
}

.options li a:hover {
    color: #aaaf9d;
}

.tag:hover .options {
    display: block;
}

#home:hover,
#getting_started:hover,
#tutorials:hover,
#references:hover,
#quizzes:hover {
    background-color: #70abaf;
}

#getting_started:hover,
#tutorials:hover,
#references:hover,
#quizzes:hover {
    display: block;
    cursor: pointer;
}

/* hr {
    height: 31.25px;
} */

#horizontal_line_1, #horizontal_line_6 {
    height: 31.25px;
}

/* ===================================================================================== */


/* Content ============================================================================= */

/* #content {
    width: 70em;
    position: relative;
    left: 5.20em;
}

#content p {
    width: 65em;
    margin-left: 2.5em;
} */

button:hover {
    cursor: pointer;
}

/* ===================================================================================== */


/* to top button -- taken from w3schools =============================================== */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #70abaf;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}


/* Mobile (MAX-WIDTH: 768px) =========================================================== */

@media screen and (max-width: 768px) {
    /* Body ============================================================================ */

    body {
        text-align: center;
    }

    /* ================================================================================= */


    /* Navigation Bar ================================================================== */

    #nav_bar {
        width: 43em;
        /* width: max-content; */
        /* width: fit-content; */
    }

    nav {
        justify-content: center;
    }

    nav ul li {
        /* margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 1.5em;
        margin-right: 1.5em; */

        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    #home,
    #getting_started,
    #tutorials,
    #references,
    #quizzes {
        width: 4em;
        margin-left: 0em;
        margin-right: 0em;
    }

    /* ================================================================================= */


    /* Content ========================================================================= */

    #content {
        width: 30em;
        text-align: center;
        position: relative;
        left: 4em;
        /* margin-left: -6em; */
        margin-left: 1em;
        /* margin-right: 3em; */
    }

    #content p {
        width: 30em;
        margin-left: 0em;
    }

    /* ================================================================================= */
}

/* ===================================================================================== */




/* Mobile (MAX-WIDTH: 400px) =========================================================== */

@media screen and (max-width: 400px) {
    /* Body ============================================================================ */

    body {
        text-align: center;
        font-size: 22px;
    }

    /* ================================================================================= */


    /* Navigation Bar ================================================================== */

    #logo {
        display: none;
    }

    #nav_bar {
        /* width: 43em; */
        /* width: max-content; */
        width: 32em;
    }

    nav {
        justify-content: center;
    }

    #home,
    nav ul {
        margin-left: -1.5em;
        margin-right: 1.5em;
    }

    #home {
        margin-right: 0em;
        margin-left: -0.75em;
    }

    #home,
    nav ul li {
        font-size: 28px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.25em;
        padding-right: 0.25em;
        position: relative;
        left: 0.5em;
    }

    #home,
    #getting_started,
    #tutorials,
    #references,
    #quizzes {
        width: 5em;
    }

    /* ================================================================================= */


    /* Content ========================================================================= */

    #content {
        width: 30em;
        text-align: center;
        position: relative;
        left: 4em;
        margin-left: -6em;
        /* margin-right: 3em; */
    }

    #content p {
        width: 25em;
        margin-left: 2.5em;
        /* margin: 1em; */
    }

    /* ================================================================================= */


    /* ================================================================================= */

    footer {
        text-align: center;
        width: 7em;
        margin-left: 9.5em;
    }

    /* ================================================================================= */
}

/* ===================================================================================== */