#getting_started {
    background-color: #70abaf;
    height: fit-content;
}

#section1 h1 {
    margin-top: 1em;
}

#section1 p {
    text-align: center;
    margin: auto;
}

#characters_list {
    margin-left: 2.5em;
}

#unix_file_structure_diagram {
    margin-left: 12em;
}

@media screen and (max-width: 768px) {
    #section1 p {
        width: 15em;
        margin-left: 3em;
    }
    
    #characters_list {
        margin-left: 8em;
        text-align: left;
    }

    #unix_file_structure_diagram {
        margin-left: -1.25em;
    }
}

@media screen and (max-width: 400px) {
    #unix_file_structure_diagram {
        width: 550px;
        height: 550px;
    }
}