#home {
    background-color: #70abaf;
    height: fit-content;
}

/* grid */

#content{ 
    display:grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

#welcome {
    grid-column: 1/3;
    grid-row: 1/2;
}


#mission_statement {
    grid-column: 1/2;
    grid-row: 2/3;
}

#prerequisites {
    grid-column: 2/3;
    grid-row: 2/3;
}

/* #mission_statement p {
    width: 32em;
}

#prerequisites p {
    width: 27.5em;
} */

#getting_started {
    font-size: 25px;
    margin-left: 21.5em;
    padding: 0.25em;
    background-color: #705d56;
    color: white;
    border-radius: 10px;
}

#getting_started:hover {
    background-color: #9f8f89;
}

/* ===================================================================================== */




/* Mobile (MAX-WIDTH: 768px) =========================================================== */

@media screen and (max-width: 768px) {
    #content {
        margin-left: 0em;
    }

    #section2 {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: -1em;
    }

    #section2 #prerequisites {
        margin-left: -4em;
    }
    
    #getting_started {
        margin-left: 0em;
    }
}

/* ===================================================================================== */




/* ===================================================================================== */

@media screen and (max-width: 400px) {
    #content {
        margin-left: -6em;
    }

    #section2 {
        margin-left: 2.25em;
    }

    #mission_statement p {
        width: 25em;
        margin-left: 0em;
    }
}

/* ===================================================================================== */