#home {
    background-color: #70abaf;
    height: fit-content;
}

#content {
    display:grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

#welcome {
    text-align: center;
    border: 5px;
    /* border-color: #705d56;
    border-style: solid;
    border-radius: 10px;
    width: max-content;
    height: fit-content; */
    /* padding: 1em; */
    /* padding-top: 0.5em;
    padding-bottom: 0.5em; */
    /* padding-left: 0.5em;
    padding-right: 0.5em; */
}

#quiz_content {
    position: relative;
    top: 8em;
}

#section {
    display: grid;
    grid-template-columns: 1fr;
}

#mission_statement p, #prerequisites p {
    width: 27.5em;
}

#getting_started_button {
    font-size: 25px;
    margin-left: 6.5em;
    padding: 0.25em;
    width: 8em;
    background-color: #705d56;
    color: white;
    border-radius: 10px;
}

#getting_started_button:hover {
    background-color: #9f8f89;
}

/* ===================================================================================== */

h1{ 
    margin-top: 3em;
}



/* Mobile (MAX-WIDTH: 768px) =========================================================== */

@media screen and (max-width: 768px) {
    #content {
        margin-left: 0em;
    }

    #section {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: -1em;
    }

    #section #prerequisites {
        margin-left: -4em;
    }
    
    #getting_started_button {
        margin-left: 0em;
    }
}

/* ===================================================================================== */




/* ===================================================================================== */

@media screen and (max-width: 400px) {
    #content {
        margin-left: -6em;
    }

    #section {
        margin-left: 2.25em;
    }

    #mission_statement p {
        width: 25em;
        margin-left: 0em;
    }
}

/* ===================================================================================== */