.content {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1000px;
    margin: auto;
}

h1 {
    margin-top: 7%;
}

@media screen and (max-width: 768px){ 
    h1{ 
        margin-top: 20%; 
    }
}